<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">SBI</a>
        <a class="navbar-brand" href="">ATM No.: {{ details.atmn }} </a>
        <a class="navbar-brand" href="">AC. No.: {{ details.acn }} </a>
        <a class="navbar-brand" href="">Your Balance.: {{ details.bal }} </a>
    </div>

    <div class="collapse navbar-collapse" id="responsive-navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Welcome {{ details }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">

                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            'Exports contacts'
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-floppy-open"></span>
                            'Import contacts'
                        </a>
                    </li>

                    {% if user.is_staff %}
                        <li>
                            <a target="_blank" href="">
                                <span class="glyphicon glyphicon-cog"></span>
                                'Admin page'
                            </a>
                        </li>
                    {% endif %}
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-off"></span>
                        'Logout'
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
</nav>

