{% extends "login/base/base.html" %}


{% block title %}'My Bank'{% endblock %}

{% block header %}
    {% include 'login/base/header.html' %}
{% endblock %}



{% block content %}


<script type="text/javascript">
		function Check(chk)
		{
		if(document.myform.Check_ctr.checked==true){
		for (i = 0; i < chk.length; i++)
		chk[i].checked = true ;
		}else{

		for (i = 0; i < chk.length; i++)
		chk[i].checked = false ;
		}
		}
		</script>


<div class="container">
    <div class="row">

        <div class="col-md-4 pull-left search-contact">
            <form id="" action="{% url 'depost' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    {{ dpost.deposit }}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info"><i class=""></i>Deposit</button>
                    </span>
                </div>
                                  {% if error3 %}
								<div class="alert alert-danger">
									<p>"Please Enter Amount Multiple of 100."</p>
								</div>
							{% endif %}
            </form>
        </div>

        <div class="col-md-4 pull-left ">
            <form id="search_form" action="{% url 'withdraw' %}"" method="post">
                {% csrf_token %}
                <div class="input-group">

                    {{ with.withdrawal }}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info"><i class="glyphicon glyphicon-plus-sign"></i>WithDrawal</button>
                    </span>

                </div>
                  {% if error1 %}
								<div class="alert alert-danger">
									<p>"Please Enter Amount Multiple of 100."</p>
								</div>
							{% endif %}
                    {% if error2 %}
								<div class="alert alert-danger">
									<p>"You Have Not Sufficient Balance."</p>
								</div>
                    {% endif %}
            </form>
        </div>

        <td><button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#new-contact">
            <span class="glyphicon glyphicon-up-sign"></span>
            Transfer Amount
        </button></td>

    </div>
    <form name="myform" action="" method="post">
        {% csrf_token %}

          <table class="table table-condensed table-lists-contacts table-list-search">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>AC. Number</th>
                    <th>ATM Number</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for i in operation %}
                <tr>
                    <td> {{ i.name }}</td>
                    <td> {{ i.acn }}</td>
                    <td> {{ i.atmn }}</td>
                    <td> {{ i.amount }}</td>
                    <td> {{ i.status }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </form>
    </div>
</div>

{% block hello %}
    {% include 'login/modal/new_contacts.html' %}
{% endblock %}

{% endblock %}