<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>SBI Bank</title>
		<link rel="shortcut icon" href="logo.png" type="image/png">
		<meta name="description" content="Doodle is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Doodle Admin, Doodleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		<link rel="icon" href="{% static 'dist/img/logo.png' %}">
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="{% static 'vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
		
		
		
		<!-- Custom CSS -->
		<link href="{% static 'dist/css/style.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		{% block content %}
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="">
						<img class="brand-img mr-10" src="{% static 'dist/img/logo.png' %}" alt="brand"/>
						<span class="brand-text">SBI Bank</span>
					</a>
				</div>
				
					<div class="form-group mb-0 pull-right">
					<span class="inline-block pr-10">Create New account?</span>
					<a class="inline-block btn btn-info btn-rounded btn-outline" href="{% url 'register' %}">Rigister</a>
				</div>

				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Sign in to SBI Bank</h3>
											<h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
										</div>	
										<div class="form-wrap">
											<form action="" method="post">
												{% csrf_token %}
												<div class="form-group">
													{% if error %}
															<div class="alert alert-danger">
																<p>"Username or password is not correct."</p>
															</div>
														{% endif %}
													<label class="control-label mb-10">UserName</label>
													            {{ form.username }}
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
													<div class="clearfix"></div>
													{{ form.password }}
												</div>
												
												<div class="form-group">
													<div class="clearfix"></div>
												</div>
												<div class="form-group text-center">
													<button type="submit" class="btn btn-info btn-rounded">sign in</button>
												</div>
											</form>

										</div>
									</div>	
								</div>
							</div>

							<div class="form-group mb-0 pull-right">
								<span class="inline-block pr-10" style="padding-top:135px">Designed By TechSim+</span>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>

			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="{% static 'dist/js/jquery.slimscroll.js' %}"></script>
		
		<!-- Init JavaScript -->
		<script src="{% static 'dist/js/init.js' %}"></script>
{% endblock %}
	</body>
</html>
