<!-- Modal NEW CONTACT -->
<div class="modal fade" id="new-contact" tabindex="-1" role="dialog" aria-labelledby="new-contact-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="new-contact-label">"Transfer Money"</h4>
            </div>
            <form class="form-horizontal" method="post" action="{% url 'status' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <fieldset>
                        <div class="control-group">
                          <label class="control-label">{{ txform.number.label }} :</label>
                          <div class="controls">
                            {{ txform.number }}
                          </div>
                        </div>
                         {% if error4 %}
								<div class="alert alert-danger">
									<p>"This Account is not exists"</p>
								</div>
							{% endif %}

                        <div class="control-group">
                          <label class="control-label">{{ txform.amount.label }} :</label>
                          <div class="controls">
                            {{ txform.amount }}
                          </div>
                        </div>
                        {% if error5 %}
								<div class="alert alert-danger">
									<p>"You have not Sufficient Balance"</p>
								</div>
							{% endif %}
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">
                        <span class="glyphicon glyphicon-save"></span>
                        'Transfer'
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                         'Close'
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End MODAL NEW CONTACT -->